$minWidth: 320px;
$fontFamily: "Montserrat", sans-serif;

@import "null";

body {
  font-size: 18px;
  font-weight: 400;
  color: #000;
  //   background-color: rgb(225, 255, 253);
}

.app {
  &__container {
    width: 800px;
    margin: 0 auto;
    margin-top: 100px;
  }
}
.chat {
  opacity: 1;
  visibility: visible;
  display: flex;
  width: 100%;
  border: solid 1px #000;
  border-radius: 10px;
  background-color: rgb(205, 244, 212);
  transition: all 0.4s ease-in;

  &__users {
    border-right: solid 1px #000;
    padding: 10px;
    flex: 1;
  }

  &__user {
    display: flex;
    align-items: center;
  }

  &__window {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    flex: 2;
  }

  &__messages {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  &__message {
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &__form {
  }
}
.user {
  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &__avatar {
    width: 40px;
    height: 40px;
    border: solid 1px #000;
    border-radius: 50%;
    background-color: rgb(122, 132, 239);
    margin-right: 10px;
  }

  &__name {
    font-size: 16px;
  }

  &.current-user {
    color: rgb(171, 54, 54);
    font-weight: 600;
  }
}
.message-chat {
  display: flex;
  flex-direction: column;

  &__info {
    margin-bottom: 10px;
    font-size: 14px;
    color: rgb(99, 99, 99);
  }

  &__text {
  }

  &.own-message {
    align-self: flex-end;
    align-items: flex-end;

    .message-chat__info {
      color: rgb(171, 54, 54);
      font-weight: 600;
    }
  }
}
.form-chat {
  &__input {
    width: 100%;
    height: 35px;
    padding: 10px;
    border: solid 1px #000;
    border-radius: 10px;
    font-family: inherit;
  }
}
.choose-username-popup {
  opacity: 1;
  visibility: visible;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  border: solid 1px #000;
  border-radius: 10px;
  //   background-color: rgb(234, 253, 252);
  padding: 10px;
  margin: 0 auto;
  transition: all 0.4s ease-in;
}
.choose-username-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__label {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 30px;
  }

  &__input {
    width: 80%;
    height: 35px;
    padding: 10px;
    border: solid 1px #000;
    border-radius: 10px;
    margin-bottom: 20px;
    font-family: inherit;
  }

  &__btn {
    width: 50%;
    height: 40px;
    padding: 10px;
    border: solid 1px #000;
    border-radius: 10px;
    font-family: inherit;
    font-size: 16px;
    color: #fff;
    background-color: rgb(0, 0, 0);
    transition: all 0.2s ease;

    &:hover {
      background-color: #fff;
      color: #000;
    }
  }
}

.hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
}

// alarm-POPUP

.alarm-popup {
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;

  &__container {
    background-color: rgb(255, 255, 255);
    border-radius: 14px;
    box-shadow: 1px 0px 5px rgb(125, 125, 125);
    box-sizing: border-box;
    height: 200px;
    width: 430px;
    padding: 20px;
    margin: 100px auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__close {
    display: block;
    position: absolute;
    padding: 2px;
    right: 20px;
    top: 20px;
    cursor: pointer;
  }
}
